body {
    margin:0;
    background-color: #ffff;
    color: #212121;
}

h1 {
    background-color: #a30000;
    color: #ffff;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.nav {
    background-color: #dd2c00;
    color: #ffff;
    margin: 0;
    padding: 0px;
    text-align: center;
}

.langNav {
    background-color: #ff6434;
    color: #ffff;
    margin: 0;
    padding: 0px;
}

.langBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.lang {
    border-bottom-color: #212121;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

h2 {
    background-color: #484848;
    color: #ffff;
    margin: 0px;
    padding-left: 10px;
}

h3 {
    padding-left: 10px;
}

h4 {
    padding-left: 10px;    
}

p {
    padding-left: 15px;
}

.changeLang {
    outline: none;
    text-decoration: none;
    color: #ffff;
}

.outsideLink {
    outline: none;
    text-decoration: none;
    color: #212121;
    background-size: 16px 16px;
    padding-right: 19px;
}

.facebook:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1rem;
    background-image: url("../icon/iconmonstr-facebook-6-240.png");
    background-size: contain;
    vertical-align: middle;
}

.pinterest:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1rem;
    background-image: url("../icon/iconmonstr-pinterest-2-240.png");
    background-size: contain;
    vertical-align: middle;
}

.instagram:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1rem;
    background-image: url("../icon/iconmonstr-instagram-12-240.png");
    background-size: contain;
    vertical-align: middle;
}

.youtube:before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url("../icon/iconmonstr-youtube-7-240.png") ;
    background-size: contain;
    vertical-align: middle;
}

.outsideLink:link {
    color: #212121;
}

.outsideLink:visited {
    color: #484848;
}

.outsideLink:focus {
    color: #000000;
    
}

.outsideLink:hover {
    color: #000000;
    border-bottom-color: #212121;
    border-bottom-style: solid;
    border-bottom-width: 1px;

}

.outsideLink:active {
    background-color: #484848;
    color: #ffff;

}

@media screen and (min-width:800px) {

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /*grid-auto-rows: 100px;*/
        grid-gap: 20px;
        margin: 10px;
    }

    .container h2 {
        text-align: center;
    } 

    .list {
        border: 2px solid #484848;
        color: #212121;
        background-color: #ffffff;
    }
    
    .listInList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}